:root {
    --brickletics-purple: #440e62;
    --brickletics-white: white;
    --brickletics-gray: rgb(131, 131, 131);
}

body {
		overflow-y: scroll;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

h2 {
    transform: scaleY(1.1);
    font-size: 125%;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0px;
}

.sectionHeading {
	color: var(--brickletics-gray);
}

h3 {
    transform: scaleY(1.1);
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0px;
}

.header {
    background-color: var(--brickletics-purple);
    color: var(--brickletics-white);
    width: 100%;
    height: 25%;
}

.header>img {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.content {
    clear: both;
    text-align: center;
    padding-top: 10px;
    font-family: Arial, sans-serif;
}

.contentCard {
    position: relative;
    border-left: 5px solid var(--brickletics-purple);
    width: 30%;
    height: 80px;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 12px;
    border-radius: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.linkCard {
    position: relative;
    border: 1px solid var(--brickletics-gray);
    width: 30%;
    height: 50px;
    line-height: 50px;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 12px;
    border-radius: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.newsStory {
	text-align: center;
	margin-left: 15px;
	font-size: 90%;
	letter-spacing: 2px;
}

.linkCard:hover {
    cursor: pointer;
    color: var(--brickletics-purple) !important;
    border-bottom: 5px solid var(--brickletics-purple);
}

.linkCard img {
    position: absolute;
    top: 9px;
    bottom: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    position: relative;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

/* mobile only */
@media (pointer: coarse) {
    h2 {
        font-size: 225%;
    }
    h3 {
        font-size: 150%;
    }
	.newsStory {
		font-size: 200%;
	}
    .header {
        width: 100%;
    }
    .header>img {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .content {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 50px;
    }

    .linkCard {
        position: relative;
        width: 100%;
        height: 100px;
        line-height: 100px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .linkCard img {
        top: 25px;
        bottom: 25px;
        left: 25px;
        width: 50px;
        height: 50px;
    }
}